<%= form_for(:user, :url => session_path(:user)) do |f| %>
  <div style="padding-top: 10px">
    <div class="form-group" style="float: left; color: white; margin-bottom: 0px; margin-right: 10px;">
      <%= f.label :email%>
      <%= f.text_field :email, :class => "form-control"%>
    </div>
    <div class="form-group" style="float: left; color: white; margin-bottom: 0px; margin-right: 10px;">
      <%= f.label :password %>
      <%= f.password_field :password, :class => "form-control"%>

      <span style="float:left; line-height: 2;"><%= link_to "Forgot your password?", new_password_path(:user) %></span>
  </div>
  <div class="form-group" style="float: left; color: white; margin-bottom: 0px;">

<%= f.submit 'Log In', :class => "btn loginbutton"%>
</div>
  </div>

<% end %>
