
<div class="row">
  <!-- Left -->
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          <% if (current_user.avatar?) %>
            <%= image_tag current_user.avatar, :size => '100x100'%>
          <% else %>
            <%="No Profile Picture Found" %>
          <% end %>
        </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <p> Links </p>
        <p><%= link_to "My Clientz", getMyClientz_path, remote: true %></p>
        <p><a href="#">Link 2</a></p>
        <p><a href="#">Link 3</a></p>
        <p><a href="#">Link 4</a></p>
        <p><%= link_to "Support Tickets", showTickets_path, remote: true %></p>
        <p><a href="#">Link 5</a></p>
      </div>
    </div>


  </div>

  <!-- Middle -->
  <div class="col-xs-9">
    <div id="current_dash_render">
      <%= render '/layouts/supports/profile' %>
    </div>

  </div>
  </div>
  </div>
