<!DOCTYPE html>
<html>
  <head>
    <title>MyMealz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- Anything that is done on this page, happens on every single other page aswell -->
    <!-- Load in Ruby HTML.erb nav into every page -->
<div class="container-fluid">
    <%= render '/layouts/nav' %>
    <!-- Yield says what to be rendered -->
    <!-- Notice and Alerts are feedback from ruby calls. Specified in the code. Layout is here -->

      <span class="notice"><%= notice %></span >
      <span class="alert"><%= alert %></span>
      <%= yield %>
</div>
  </body>
</html>
