<%= stylesheet_link_tag "recipe_options" %>
<div class="row">
  <div class="col-md-12">
      <p class="jumbotron">My Recipes</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <input type="text" id="myInput" class="form-control" onkeyup="myFunction()" placeholder="Search for recipes..">
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
<table id="myTable" class="table table-hover ro_RecipeTable">
  <thead class="ro_TableHead">
    <th onclick="openModal()">Meal Name</th>
    <th>Ingredients</th>
  </thead>
  <tbody class="ro_TableBody">
  <% if @meals.size > 0 %>
    <% counter = 0 %>
    <% @meals.each do |item| %>
      <tr onclick="openModal()">
        <td><%= item.MealName%></td>
        <td>
          <% for i in @proteinCollection[counter] %>
            <%= i.productName %>,
          <% end %>

          <% for i in @grainCollection[counter] %>
            <%= i.productName %>,
          <% end %>

          <% for i in @dairyCollection[counter] %>
            <%= i.productName %>,
          <% end %>

          <% for i in @vegeCollection[counter] %>
            <%= i.productName %>,
          <% end %>

          <% for i in @fruitCollection[counter] %>
            <%= i.productName %>,
          <% end %>

          <% for i in @fatsCollection[counter] %>
            <%= i.productName %>,
          <% end %>

          <% for i in @discCollection[counter] %>
            <%= i.productName %>,
          <% end %>
          <% counter += 1 %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="2">No Meals have been saved.</td>
    </tr>
  <% end %>


</tbody>
</table>
</div>
</div>

<div id="myModal" class="ro_modal">
  <span class="ro_close cursor" onclick="closeModal()">&times;</span>
  <div class="ro_modal-content">
    <!-- PUT RECIPE CONTENT HERE -->
  </div>
</div>