<div class="row">
  <!-- Title for content panel -->
  <div class="col-md-10 col-md-offset-1">
    <h3 style="text-align:center">Your clients</h3>
  </div>
  <!-- Displays each client from database -->
  <% contractCounter = 0 %>
  <% @contracts.each do |item| %>
<!-- Layout for each client from the database-->
  <div class="col-md-6" style="margin: 30px">
<!-- Top panel containing profile picture and client name-->
    <div class="panel panel-default" style="background-color: #37BC9B; border: 0px; border-radius: 4px 4px 0px 0px; margin-bottom: 0px;">
      <div class="panel-body">
        <!-- Profile picture goes in here -->
        <div class="col-md-4">
          <%= image_tag @usersAttached[contractCounter].avatar, :size => '120x120', :style => "float:left; border: 5px solid white" %>
        </div>
        <!-- User first name and last name goes here -->
        <div class="col-md-8" style="height: 120px">
          <h1 style="color: white; text-align: center; margin: 0px; line-height: 120px"><%= @extraDetails.to_s.humanize%> <%= @extraDetails2.to_s.humanize%></h1>
        </div>
      </div>
    </div>
    <!-- Bottom panel containing client set servings and total calorie count -->
    <div class="panel panel-default" style="border-color: #37BC9B; border-radius: 0px 0px 4px 4px;">
      <div class="panel-body">
        <div class="col-md-12"  style="color: #37BC9B">
          <!-- Client set servings -->
          <h3 style="margin:0px 0px 20px 0px"><strong> Currently set servings: </strong></h3>
          <div class="row">
            <!-- Protein -->
            <div class="col-md-4" style="margin-bottom: 10px">
              <strong> Protein: </strong>
              <input class="form-control" type="text" id="reqUpdate1_<%=contractCounter%>_<%=item.id %>"
              placeholder="" value="<%= item.proteinReq %>">
            </div>
            <!-- Grains -->
            <div class="col-md-4" style="margin-bottom: 10px">
              <strong> Grains: </strong>
              <input class="form-control" type="text" id="reqUpdate2_<%=contractCounter%>_<%=item.id %>"
              placeholder="" value="<%= item.grainsReq %>">
            </div>
            <!-- Dairy -->
            <div class="col-md-4" style="margin-bottom: 10px">
              <strong> Dairy: </strong>
              <input class="form-control" type="text" id="reqUpdate3_<%=contractCounter%>_<%=item.id %>"
              placeholder="" value="<%= item.dairyReq %>">
            </div>
            <!-- Vegetables -->
            <div class="col-md-4" style="margin-bottom: 10px">
              <strong> Vegetables: </strong>
              <input class="form-control" type="text" id="reqUpdate4_<%=contractCounter%>_<%=item.id %>"
              placeholder="" value="<%= item.vegeReq %>">
            </div>
            <!-- Fruit -->
            <div class="col-md-4" style="margin-bottom: 10px">
              <strong> Fruit: </strong>
              <input class="form-control" type="text" id="reqUpdate5_<%=contractCounter%>_<%=item.id %>"
              placeholder="" value="<%= item.fruitReq %>">
            </div>
            <!-- Fats -->
            <div class="col-md-4" style="margin-bottom: 10px">
              <strong> Fats: </strong>
              <input class="form-control" type="text" id="reqUpdate6_<%=contractCounter%>_<%=item.id %>"
              placeholder="" value="<%= item.fatsReq %>">
            </div>
            <!-- Discretionary -->
            <div class="col-md-4" style="margin-bottom: 10px">
              <strong> Discretionary: </strong>
              <input class="form-control" type="text" id="reqUpdate7_<%=contractCounter%>_<%=item.id %>"
              placeholder="" value="<%= item.discReq %>">
            </div>
          </div>
          <!-- Notice for successful change of set servings for a client -->
          <div id='notice_<%= contractCounter %>' style="display:none; float:center"></div>
          <br>
          <!-- Total calorie count -->
          <div class="row">
            <div class="col-md-12">
              <strong> Total Calorie Restriction: </strong>
              <input class="form-control" type="text" id="reqUpdate0_<%= contractCounter %>_<%= item.id %>"
              placeholder="" value="<%= item.totalCalRestriction %>">
            </div>
          </div>
        </div>
        <!-- Save changes button -->
        <button type="button" class="btn signupcontent"
        onclick="updateContract(<%=contractCounter%>, <%=item.id %>)">
        Save Changes
      </button>
    </div>
  </div>
</div>
</div>
<!-- Increments the contractCounter to the next user, loops over rendering process -->
<% contractCounter += 1 %>
<%end %>
