<!-- Do Nutrition Value -->

<script>
    $(document).ready(function(){
        $('.dropdown-submenu a.breakMenu').on("click", function(e){

            $('#breakMenu').toggle();
            $('#lunchMenu').hide();
            $('#dinnerMenu').hide();
            e.stopPropagation();
            e.preventDefault();
        });

        $('.dropdown-submenu a.lunchMenu').on("click", function (e) {

            $('#breakMenu').hide();
            $('#lunchMenu').toggle();
            $('#dinnerMenu').hide();
            e.stopPropagation();
            e.preventDefault();
        });

        $('.dropdown-submenu a.dinnerMenu').on("click", function (e) {

            /*$(this).next('ul').toggle();*/
            $('#breakMenu').hide();
            $('#lunchMenu').hide();
            $('#dinnerMenu').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
    });
</script>
<%=link_to 'Download Report', showMealPlanner_path(format: 'pdf')%>

 <%= stylesheet_link_tag "meal_planner" %>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select A Meal Time
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" onclick="getMealData('-1')">No Set Day</a></li>
          <li class="dropdown-submenu">
            <a class="breakMenu" tabindex="-2">Breakfast <span class="caret"></span></a>
            <ul id="breakMenu" class="dropdown-menu">
              <li><a tabindex="-1" onclick="getMealData('breakfast_Monday')">Monday</a></li>
              <li><a tabindex="-1" onclick="getMealData('breakfast_Tuesday')">Tuesday</a></li>
              <li><a tabindex="-1" onclick="getMealData('breakfast_Wednesday')">Wednesday</a></li>
              <li><a tabindex="-1" onclick="getMealData('breakfast_Thursday')">Thursday</a></li>
              <li><a tabindex="-1" onclick="getMealData('breakfast_Friday')">Friday</a></li>
              <li><a tabindex="-1" onclick="getMealData('breakfast_Weekend')">Weekend</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="lunchMenu" tabindex="-1">Lunch <span class="caret"></span></a>
            <ul class="dropdown-menu" id="lunchMenu">
              <li><a tabindex="-1" onclick="getMealData('lunch_Monday')">Monday</a></li>
              <li><a tabindex="-1" onclick="getMealData('lunch_Tuesday')">Tuesday</a></li>
              <li><a tabindex="-1" onclick="getMealData('lunch_Wednesday')">Wednesday</a></li>
              <li><a tabindex="-1" onclick="getMealData('lunch_Thursday')">Thursday</a></li>
              <li><a tabindex="-1" onclick="getMealData('lunch_Friday')">Friday</a></li>
              <li><a tabindex="-1" onclick="getMealData('lunch_Weekend')">Weekend</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dinnerMenu" tabindex="-1">Dinner <span class="caret"></span></a>
            <ul id="dinnerMenu" class="dropdown-menu">
              <li><a tabindex="-1" onclick="getMealData('dinner_Monday')">Monday</a></li>
              <li><a tabindex="-1" onclick="getMealData('dinner_Tuesday')">Tuesday</a></li>
              <li><a tabindex="-1" onclick="getMealData('dinner_Wednesday')">Wednesday</a></li>
              <li><a tabindex="-1" onclick="getMealData('dinner_Thursday')">Thursday</a></li>
              <li><a tabindex="-1" onclick="getMealData('dinner_Friday')">Friday</a></li>
              <li><a tabindex="-1" onclick="getMealData('dinner_Weekend')">Weekend</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="col col-md-4">
      <ol id="mp_breadcrumb" class="breadcrumb">
        <li class="breadcrumb-item">No Meal Selected</li>
      </ol>
    </div>
  </div>
</div>

<div class="container">
 <div class="row">
      <div class="col-md-pull-12">
        <div class="table-responsive">
          <table class="table table-sm" style="border: 1px solid burlywood">
            <thead style="background-color: burlywood">
              <tr>
                <th scope="col" id="currentViewed" class="text-center mp_sTableHeadersException">Any meal</th>
                <th scope="col" class="text-center mp_sTableHeaders">Protein</th>
                <th scope="col" class="text-center mp_sTableHeaders">Grains</th>
                <th scope="col" class="text-center mp_sTableHeaders">Dairy</th>
                <th scope="col" class="text-center mp_sTableHeaders">Vegetables</th>
                <th scope="col" class="text-center mp_sTableHeaders">Fruits</th>
                <th scope="col" class="text-center mp_sTableHeaders">Fats</th>
                <th scope="col" class="text-center mp_sTableHeaders">Discretionary</th>
                <th scope="col" class="text-center mp_sTableHeaders">Calorie Leftover</th>
              </tr>
            </thead>

            <tbody>
            <tr style="background-color: white">
              <td class="text-right mp_sTable">Daily AMT Remaining:</td>
              <td id="proteinServing" class="text-center mp_sTable"><%=@clientRestriction[0].proteinReq%></td>
              <td id="grainServing" class="text-center mp_sTable"><%=@clientRestriction[0].grainsReq%></td>
              <td id="dairyServing" class="text-center mp_sTable"><%=@clientRestriction[0].dairyReq%></td>
              <td id="vegeServing" class="text-center mp_sTable"><%=@clientRestriction[0].vegeReq%></td>
              <td id="fruitServing" class="text-center mp_sTable"><%=@clientRestriction[0].fruitReq%></td>
              <td id="fatsServing" class="text-center mp_sTable"><%=@clientRestriction[0].fatsReq%></td>
              <td id="discServing" class="text-center mp_sTable"><%=@clientRestriction[0].discReq%></td>
              <td id="totalCalServing" class="text-center mp_sTable"><%=@clientRestriction[0].totalCalRestriction%></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <!--<div class="container">-->
      <div class="row">
        <!-- Do Nutrition Value -->
        <!--<div class="col-xs-4">
          <div class="table-responsive">
            <table class="table table-hover" style="border: 3px solid limegreen">
              <thead style="background-color: limegreen">
              <tr>
                <th scope="col" colspan="4">Item</th>
                <th scope="col">Protein</th>
                <th scope="col">Carb</th>
                <th scope="col">Fats</th>
                <th scope="col">Cal content</th>
              </tr>
              </thead>
              <tbody id="currentList">

              </tbody>
              <tr>
                <td style="border-right: 1px solid limegreen" colspan = "4">Totals:</td>
                <td style="border-right: 1px solid limegreen" id="proteinTotal"></td>
                <td style="border-right: 1px solid limegreen" id="carbTotal"></td>
                <td style="border-right: 1px solid limegreen" id="fatsTotal"></td>
                <td id="calTotal"></td>
              </tr>
            </table>
          </div>
        </div>-->
          <!-- End Nutrition Value -->
        <!-- HOW TO MAKE TABLE SCROLL AFTER 10 ROWS -->
        <!-- Start Meal planner for realsies -->
        <div class="col-xs-4">
          <div class="table-responsive-xs">
          <table class="table table-hover mp_proteinTable" >
            <thead class = "mp_proteinTableHead">
              <tr>
                <th scope="col" colspan="2">Protein</th>
                <th scope="col" class="text-right">Qty</th>
              </tr>
            </thead>
            <tbody class="mp_proteinTableBody" id="proteinBody">
            <% @proteinProducts.each do |item| %>
              <tr id="0_<%=item.productID%>">
              <td class="mp_hover" id="td_0_<%=item.productID%>" colspan="2" onclick="makeItemSelection(0, <%=item.productID %>,'<%= item.productName%>',<%=item.totalCal %>,<%=item.proteinQty %>,<%=item.carbohydrateQty%>,<%=item.fatsQty %>,<%=item.servingQty %>,'<%= item.servingType%>')">
              <%= item.productName %></td>
              <td align="right"><%= item.servingQty%>  <%= item.servingType %></td>
              </tr>
            <% end %>

            </tbody>
          </table>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="table-responsive-xs">
            <table class="table table-hover mp_grainsTable">
              <thead class="mp_grainsTableHead">
              <tr>
                <th scope="col">Grains</th>
                <th scope="col" class="text-right" colspan="2">Qty</th>
              </tr>
              </thead>
              <tbody class="mp_grainsTableBody">
              <% @grainProducts.each do |item| %>
                <tr id="1_<%=item.productID%>">
                  <td class="mp_hover" id="td_1_<%=item.productID%>" colspan="2" onclick="makeItemSelection(1, <%=item.productID %>,'<%= item.productName%>',<%=item.totalCal %>,<%=item.proteinQty %>,<%=item.carbohydrateQty%>,<%=item.fatsQty %>,<%=item.servingQty %>,'<%= item.servingType%>')">
                    <%= item.productName %></td>
                  <td align="right"><%= item.servingQty%>  <%= item.servingType %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table-responsive-xs">
            <table class="table table-hover mp_dairyTable">
              <thead class="mp_dairyTableHead">
              <tr>
                <th scope="col" >Dairy</th>
                <th scope="col" class="text-right" colspan="2">Qty</th>
              </tr>
              </thead>
              <tbody class="mp_dairyTableBody">
              <% @dairyProducts.each do |item| %>
                <tr id="2_<%=item.productID%>">
                  <td class="mp_hover" id="td_2_<%=item.productID%>" colspan="2" onclick="makeItemSelection(2, <%=item.productID %>,'<%= item.productName%>',<%=item.totalCal %>,<%=item.proteinQty %>,<%=item.carbohydrateQty%>,<%=item.fatsQty %>,<%=item.servingQty %>,'<%= item.servingType%>')">
                    <%= item.productName %></td>
                  <td align="right"><%= item.servingQty%>  <%= item.servingType %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>




    <!-- 2nd Row --
    <div class="row">
      <!-- Begin meal selection -->
      <!--<div class="col-md-4">
        <div class="panel panel-default" >
          <div class="panel-heading" id="breakfast_panel" onclick="showDaysOfType('breakfast')"
               style="background-color: olivedrab"><center>Breakfast</center></div>
          <div class="panel-body" id="breakfast_panel_content" style="display:none">

            <div class="row">
              <div class="col col-md-2">
                <button id="b_mon" type="button" style="background-color: red" class="btn btn-success" onclick="changeMealSelectionDay(0)">Monday</button>
              </div>

              <div class="col col-md-2">
                <button id="b_tue" type="button" class="btn btn-success" onclick="changeMealSelectionDay(1)">Tuesday</button>
              </div>

              <div class="col col-md-2">
                <button id="b_wed" type="button" class="btn btn-success" onclick="changeMealSelectionDay(2)">Wednesday</button>
              </div>

              <div class="col col-md-2">
                <button id="b_thur" type="button" class="btn btn-success" onclick="changeMealSelectionDay(3)">Thursday</button>
              </div>

              <div class="col col-md-2">
                <button id="b_fri" type="button" class="btn btn-success" onclick="changeMealSelectionDay(4)">Friday</button>
              </div>

              <div class="col col-md-2">
                <button id="b_weekend" type="button" class="btn btn-success" onclick="changeMealSelectionDay(5)">Weekend</button>
              </div>
            </div>

          </div>
        </div>
        <div class="panel panel-default" >
          <div class="panel-heading" id="lunch_panel" onclick="showDaysOfType('lunch')" style="background-color: burlywood"><center>Lunch</center></div>
          <div class="panel-body" id="lunch_panel_content" style="display:none">
            <center>Dinner</center>
          </div>
        </div>
        <div class="panel panel-default" >
          <div class="panel-heading" id="dinner_panel" onclick="showDaysOfType('dinner')" style="background-color: coral"><center>Dinner</center></div>
          <div class="panel-body" id="dinner_panel_content" style="display:none">
            <center>Dinner</center>
          </div>
        </div>
      </div>-->
      <div class="col-md-3">
        <div class="table-responsive-xs">
          <table class="table table-hover mp_vegeTable">
            <thead class="mp_vegeTableHead">
            <tr>
              <th scope="col">Vegetables</th>
              <th scope="col" class="text-right" colspan="2">Qty</th>
            </tr>
            </thead>
            <tbody class="mp_vegeTableBody">
            <% @vegeProducts.each do |item| %>
              <tr id="3_<%= item.productID %>">
                <td class="mp_hover" id="td_3_<%=item.productID%>" colspan="2" onclick="makeItemSelection(3, <%=item.productID %>,'<%= item.productName%>',<%=item.totalCal %>,<%=item.proteinQty %>,<%=item.carbohydrateQty%>,<%=item.fatsQty %>,<%=item.servingQty %>,'<%= item.servingType%>')">
                  <%= item.productName %></td>
                <td align="right"><%= item.servingQty %>  <%= item.servingType %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-responsive-xs">
          <table class="table table-hover mp_fruitTable">
            <thead class="mp_fruitTableHead">
            <tr>
              <th scope="col">Fruit</th>
              <th scope="col" class="text-right" colspan="2">Qty</th>
            </tr>
            </thead>
            <tbody class="mp_fruitTableBody">
            <% @fruitProducts.each do |item| %>
              <tr id="4_<%=item.productID%>">
                <td class="mp_hover" id="td_4_<%=item.productID%>" colspan="2" onclick="makeItemSelection(4, <%=item.productID %>,'<%= item.productName%>',<%=item.totalCal %>,<%=item.proteinQty %>,<%=item.carbohydrateQty%>,<%=item.fatsQty %>,<%=item.servingQty %>,'<%= item.servingType%>')">
                  <%= item.productName %></td>
                <td align="right"><%= item.servingQty%>  <%= item.servingType %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-responsive-xs">
          <table class="table table-hover mp_fatsTable">
            <thead class="mp_fatsTableHead">
            <tr>
              <th scope="col">Fats</th>
              <th scope="col" class="text-right" colspan="2">Qty</th>
            </tr>
            </thead>
            <tbody class="mp_fatsTableBody">
            <% @fatProducts.each do |item| %>
              <tr id="5_<%=item.productID%>">
                <td class="mp_hover" id="td_5_<%=item.productID%>" colspan="2" onclick="makeItemSelection(5, <%=item.productID %>,'<%= item.productName%>',<%=item.totalCal %>,<%=item.proteinQty %>,<%=item.carbohydrateQty%>,<%=item.fatsQty %>,<%=item.servingQty %>,'<%= item.servingType%>')">
                  <%= item.productName %></td>
                <td align="right"><%= item.servingQty%>  <%= item.servingType %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-responsive-xs">
          <table class="table table-hover mp_discTable">
            <thead class="mp_discTableHead">
            <tr>
              <th scope="col">Discretionary</th>
              <th scope="col" class="text-right" colspan="2">Qty</th>
            </tr>
            </thead>
            <tbody class="mp_discTableBody">
            <% @discProducts.each do |item| %>
              <tr id="6_<%=item.productID%>">
                <td class="mp_hover" id="td_6_<%=item.productID%>" colspan="2" onclick="makeItemSelection(6, <%=item.productID %>,'<%= item.productName%>',<%=item.totalCal %>,<%=item.proteinQty %>,<%=item.carbohydrateQty%>,<%=item.fatsQty %>,<%=item.servingQty %>,'<%= item.servingType%>')">
                  <%= item.productName %></td>
                <td align="right"><%= item.servingQty%>  <%= item.servingType %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

