<!-- Jumbrotron heading thing for looks. Don't need to keep it, just checking it out -->
  <div class="row" style="padding-top: 50px">
    <div class="col-xs-10 col-xs-offset-1">
    <div class="jumbotron" id="testing" style="border: 1px solid #ddd; border-radius: 4px">
      <%= "Hello " + current_user.firstname.to_s.humanize + ", Welcome to your Dashboard" %>
    </div>
  </div>
</div>

<div class="container">
  <span class="notice"><%= notice %></span >
  <span class="alert"><%= alert %></span>
  <%= yield %>
</div>

<% if current_user.admin_role == true %>
  <%= render '/layouts/dashboard_admin' %>
<% elsif current_user.dietitian_role == true %>
  <%= render '/layouts/dashboard_dietitian' %>
<% elsif current_user.user_role == true %>
  <%= render '/layouts/dashboard_user' %>
<% end %>
