
<!-- Title row, single column, greeting title -->

<div class="row titlerow">
  <div class="col-md-12" style="padding-top:80px">
    <h1 align=center>Welcome to MyMealz <br> <small>Your Online Meal Planning Resource</small></h1>
    <br>
  </div>
</div>

<!-- Slideshow container -->
<div class="row slideshow-container">

  <!-- Full-width images and {caption text} -->
  <div class="mySlides">
	<%= image_tag("food1.jpg", :alt => "food1") %>
    <div class="text"></div>
  </div>

  <div class="mySlides">
	<%= image_tag("food2.jpg", :alt => "food2") %>
    <div class="text"></div>
  </div>
  <div class="mySlides">
	<%= image_tag("food3.jpg", :alt => "food3") %>
    <div class="text"></div>
  </div>

  <!-- Next and previous buttons -->
  <p class="prev" onclick="plusSlides(-1)">&#10094;</p>
  <p class="next" onclick="plusSlides(1)">&#10095;</p>
</div>

<!-- The dots/circles -->
<div class="row">
  <span class="dot col-md-4" onclick="currentSlide(1)"></span>
  <span class="dot col-md-4" onclick="currentSlide(2)"></span>
  <span class="dot col-md-4" onclick="currentSlide(3)"></span>
</div>

<!-- If not logged in, then will display the sign up and log in -->
<% if current_user.nil? %>
  <!-- First row, divided into 3 equal columns, icons and text -->
<div class="row beforefirstrow">
  <div class="col-md-12">
<h1>HOW DOES IT WORK?</h1>
  </div>
  </div>
  <div class="row beforefirstrows">
  <div class="col-md-12">
    <h2><small>We've figured out an easy way to make meal development easy.</small></h2>
  </div>
</div>


  <div class="row firstrow">

    <!-- column 1 of firstrow -->
    <div class="col-md-4 icons">
      <%= image_tag("icon1.png", :alt => "icon1", :class => "icon1") %>
      <h2 style="text-align: center">CREATE YOUR OWN RECIPIES</h2>
      <h3 style="text-align: center"><small>Select from our delicious range of product items, snacks and drinks. More options added every week.</small></h3>
    </div>
    <!-- column 2 of firstrow -->
    <div class="col-md-4 icons">
      <%= image_tag("icon2.png", :alt => "icon2", :class => "icon2") %>
      <h2 style="text-align: center">WEEKLY MEAL ORGANISER</h2>
      <h3 style="text-align: center"><small>All your meals in one place, print out the recipe and start cooking! It's that easy.</small></h3>
      </div>
    <!-- column 3 of firstrow -->
    <div class="col-md-4 icons">
      <%= image_tag("icon3.png", :alt => "icon3", :class => "icon3") %>
      <h2 style="text-align: center">SUPPORTED BY DIETITIANS</h2>
      <h3 style="text-align: center"><small>We have partnered with Dietitians to bring you up to date nutritional information, staying within a Calorie budget has never been easier!</small></h3>
      </div>
  </div>

  <!-- second row, divided into 2 inequal columns, icons and text -->
  <div class="row secondrow">
    <!-- first column of second row -->
    <div class="col-md-8 informationdiv">
      <h1 style="text-align: center">What is myMealz?</h1>
      <h3 style="text-align: center"><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Maecenas tincidunt mi sit amet vulputate rutrum. Phasellus iaculis velit dolor, ac facilisis
        velit laoreet non. Proin bibendum neque id placerat imperdiet. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. In diam dui, commodo nec lacus tristique, blandit auctor diam.
        Vestibulum eget mi a orci congue faucibus. Aliquam venenatis, libero condimentum feugiat facilisis,
        nulla quam finibus ipsum, in elementum ipsum justo at neque. Mauris ultrices sit amet eros ac pulvinar.
        Nunc mollis sit amet sapien vel vulputate. Nullam tempor rhoncus nisi. Aliquam vel quam dignissim,
        interdum mauris sit amet, pellentesque nisi. Sed tincidunt nisi in aliquam iaculis.</small></h3>
      <br>
      <h1 style="text-align: center">What is myMealz?</h1>
      <h3 style="text-align: center"><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Maecenas tincidunt mi sit amet vulputate rutrum. Phasellus iaculis velit dolor, ac facilisis
        velit laoreet non. Proin bibendum neque id placerat imperdiet. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. In diam dui, commodo nec lacus tristique, blandit auctor diam.
        Vestibulum eget mi a orci congue faucibus. Aliquam venenatis, libero condimentum feugiat facilisis,
        nulla quam finibus ipsum, in elementum ipsum justo at neque. Mauris ultrices sit amet eros ac pulvinar.
        Nunc mollis sit amet sapien vel vulputate. Nullam tempor rhoncus nisi. Aliquam vel quam dignissim,
        interdum mauris sit amet, pellentesque nisi. Sed tincidunt nisi in aliquam iaculis.</small></h3>
    </div>
    <!-- second column of second row -->
    <div class="col-md-4 signupform">
      <h2 style="text-align: center; color: #293135">Create an account</h2>
      <br>
      <%= render 'layouts/logup/signup' %>
    </div>
  </div>

  <div class="row thirdrow">
    <h1>LINKS/NAVIGATION</h1>
  </div>
<!-- if logged in (as any user), redirect to respective dashboard -->
<% else %>
  <!-- Script to redirect to the profile page -->
	<script type="text/javascript">
  	window.location.href="/dashboard/<%=current_user.username %>" // put your correct path in a string here
	</script>



<!-- end page load -->
<% end %>

<script type="text/javascript">
// SLIDESHOW CODE START
var slideIndex = 1;


showSlides(slideIndex)


// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
//SLIDESHOW CODE END
</script>



<%# <!--<%= link_to app_dashboard_index_path, class: 'login-button' do >Signed in, Go to App<% end %>

<!-- To Utitlise the admin/dietitian/user role setup uses
<% #if current_user.admin_role? || current_user.dietitan_role? %>
<%#	<p>Visible only for superadmins and supervisors! </p>
<%# end %>
-->
