
<div class="row titlerow">
  <div class="col-md-12">
    <h1 align=center>Welcome to MyMealz <br> <small>Your Meal Planning Resource</small></h1>
    <br>
  </div>
</div>

<!-- Slideshow container -->
<div class="row slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides">
	<%= image_tag("food1.jpg", :alt => "food1") %>
    <div class="text"></div>
  </div>

  <div class="mySlides">
	<%= image_tag("food2.jpg", :alt => "food2") %>
    <div class="text"></div>
  </div>
  <div class="mySlides">
	<%= image_tag("food3.jpg", :alt => "food3") %>
    <div class="text"></div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<!-- The dots/circles -->
<div class="row">
  <span class="dot col-md-4" onclick="currentSlide(1)"></span>
  <span class="dot col-md-4" onclick="currentSlide(2)"></span>
  <span class="dot col-md-4" onclick="currentSlide(3)"></span>
</div>


<!-- If not logged in, then will display the sign up and log in -->
	<% if current_user.nil? %>

      <div class="row firstrow">
        <div class="col-md-3 signupform">
          <h2 style="text-align: center">Sign up</h2>
          <%= render 'layouts/logup/signup' %>
        </div>
        <div class="col-md-9 informationdiv">
        </div>
      </div>
      <div class="row secondrow">
        <div class="col-md-12 othercrap">
      </div>

		<%#= link_to new_user_session_path, class: 'login-button' do %><!--Not logged in, Sign in.--><%# end %>

	<% else %>
	<!-- Redirect to the profile page -->
		<script type="text/javascript">
    	window.location.href="/dashboard/<%=current_user.username %>" // put your correct path in a string here
  	</script>
	<% end %>
</div>



<%# <!--<%= link_to app_dashboard_index_path, class: 'login-button' do >Signed in, Go to App<% end %>

<!-- To Utitlise the admin/dietitian/user role setup uses
<% #if current_user.admin_role? || current_user.dietitan_role? %>
<%#	<p>Visible only for superadmins and supervisors! </p>
<%# end %>
-->
