<div class="row">
  <div class="col-md-4 col-md-offset-4" style="padding-top:80px">
<h2>Edit <%= current_user.firstname.to_s.humanize %> <%= current_user.lastname.to_s.humanize %>'s Profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, "Change Email", :style => "color: #293135" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <br>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<br>
  <div class="field">
    <%= f.label :password, "New Password",:style => "color: #293135" %> <i>(leave blank if you don't want to change it)</i><br />
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
  </div>
<br>
  <div class="field">
    <%= f.label :password_confirmation, "Confirm New Password", :style => "color: #293135" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
  </div>
<br>
  <div class="field">
    <%= f.label :avatar, "Change Profile Picture", :style => "color: #293135"%>
    <%= f.file_field :avatar, :style => "color: #293135" %>
    <% if @user.avatar? %>
      <%= image_tag @user.avatar.url(:thumb) %>
    <% end %>
  </div>
<br>
      <% if current_user.dietitian_role == true %>
        <div class="field">
          <%= f.label :dietitianID, "APD Number", :style => "color: #293135" %><br />
          <%= f.text_field :dietitianID, :class => "form-control" %>
        </div>
          <br>
      <% end %>
  <div class="field">
    <%= f.label :current_password, :style => "color: #293135" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Save Changes", :class => "btn signupcontent" %>
  </div>

  <%= link_to "Cancel", :back, :class => "btn cancelbutton" %>
</div>
</div>
<% end %>
