<h2>Sign up here</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus:true %>
  </div>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>

  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="dropdown">
    <%= f.label :dieititanID %>
    <%= f.text_field :dietitianID %>
  </div>

  <!--<div class="field">-->
    <%#= f.label :admin_role %>
    <%#= f.check_box :admin_role %>
  <!--</div>-->

  <div class="field">
    <%= f.label :dietitian_role%>
    <%= f.check_box :dietitian_role %>
  </div>

  <div class="field">
    <%= f.label :user_role %>
    <%= f.check_box :user_role %>
  </div>
  <br>

  <br>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%#= render "devise/shared/links" Is login name %>
